In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LinearRegression

In [50]:
startups_df = pd.read_csv('startups.csv')

In [51]:
startups_df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [52]:
pd.unique(startups_df.State)

array(['New York', 'California', 'Florida'], dtype=object)

In [53]:
startups_df['State'] = startups_df['State'].replace(['New York', 'California', 'Florida'],[1, 2, 3])

In [54]:
startups_df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      1  192261.83
1  162597.70       151377.59        443898.53      2  191792.06
2  153441.51       101145.55        407934.54      3  191050.39
3  144372.41       118671.85        383199.62      1  182901.99
4  142107.34        91391.77        366168.42      3  166187.94

In [55]:
startups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     int64
 4   Profit           50 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 2.0 KB

In [56]:
startups_df.describe().T

,count,mean,std,min,25%,50%,75%,max
R&D Spend,50.0,73721.6156,45902.256482,0.00,39936.3700,73051.080,101602.8000,165349.20
Administration,50.0,121344.6396,28017.802755,51283.14,103730.8750,122699.795,144842.1800,182645.56
Marketing Spend,50.0,211025.0978,122290.310726,0.00,129300.1325,212716.240,299469.0850,471784.10
State,50.0,1.9800,0.820403,1.00,1.0000,2.000,3.0000,3.00
Profit,50.0,112012.6392,40306.180338,14681.40,90138.9025,107978.190,139765.9775,192261.83

In [57]:
startups_df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int64
Profit             float64
dtype: object

In [58]:
startups_df = startups_df.replace(0, np.NaN)

In [59]:
startups_df[startups_df.isnull().any(axis=1)]

    R&D Spend  Administration  Marketing Spend  State     Profit
19   86419.70       153514.11              NaN      1  122776.86
47        NaN       135426.92              NaN      2   42559.73
48     542.05        51743.15              NaN      1   35673.41
49        NaN       116983.80         45173.06      2   14681.40

In [60]:
startups_df.median()

R&D Spend           74661.715
Administration     122699.795
Marketing Spend    229160.950
State                   2.000
Profit             107978.190
dtype: float64

In [61]:
startups_df = startups_df.apply(lambda x: x.fillna(x.median()),axis=0)

In [62]:
startups_df[startups_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [R&D Spend, Administration, Marketing Spend, State, Profit]
Index: []

In [63]:
startups_df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int64
Profit             float64
dtype: object

In [64]:
x = startups_df.drop('Profit', axis=1)
y = startups_df[['Profit']]

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 1)

In [67]:
x_train.shape

(37, 4)

In [68]:
x_test.shape

(13, 4)

In [69]:
reg_mod = LinearRegression()
reg_mod.fit(x_train, y_train)
reg_mod.score(x_train, y_train)

0.7488027162728901

In [72]:
for idx, col_name in enumerate(x_train.columns):
    print("The Coefficient of {} is {}". format(col_name, reg_mod.coef_[0][idx]))

The Coefficient of R&D Spend is 0.5403888359286163
The Coefficient of Administration is 0.055635648716113845
The Coefficient of Marketing Spend is 0.12102230562200057
The Coefficient of State is 40.80381898239133

In [76]:
reg_mod.intercept_

array([37164.41028429])

In [73]:
reg_mod.score(x_test, y_test)

0.8510496176270851